/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

label.xng-breadcrumb-trail {
    color: red;
    font-weight: bold;
}

/* Dark mode support */
.dark {
  color-scheme: dark;
}
